<%= simple_form_for resource, url: url, html: {class: "form-horizontal", novalidate: true} do |f| %>
  <div class="control-group">
    <label class="control-label" for="inputEmail">标题</label>
    <div class="controls">
      <%= f.input :title, :label => false%>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">标签</label>
    <div class="controls tag_check_box">
      <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name%>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">权限</label>
    <div class="controls tag_check_box">
      <%= f.select :status, ['public','private']%>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">内容</label>
    <div class="controls">
      <div class="textarea">
        <a href="#" role="button" data-toggle="modal" id="preview_link">预览</a>
        <%= f.input :content, :label => false, input_html: {style: "width:400px;height:150px", id: "content"}%>
      </div>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "提交", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>


<div id="preview" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">内容预览</h3>
  </div>
  <div class="modal-body">
    <p id="preview_body"></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>